Magic/.idea/*
Magic/.vs/*
Magic/bin/*
Magic/obj/*

HistoryGUI/.idea/*
HistoryGUI/.vs/*
HistoryGUI/bin/*
HistoryGUI/obj/*

SearchBar/.idea/*
SearchBar/.vs/*
SearchBar/bin/*
SearchBar/obj/*

Misc/*
.vs/*
.idea/*
